/* You can add global styles to this file, and also import other style files */
@import "fastnet/themes/themes";
@include theme-buttons;
@include theme-dialog-commands;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
label {
  display: inline-block;
}
/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: theme-colour('background') theme-colour('primary');
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: theme-colour('primary');
}

*::-webkit-scrollbar-thumb {
    background-color: lighten(theme-colour('surface', 'light'), 25%);
    border-radius: 20px;
    border: 3px solid theme-colour('primary');

    &:hover {
        background-color: theme-colour('background');
    }
}

