@import "_theme.components.scss";
.bool-input {
    label {
        display: grid;
        grid-template-columns: 24px 1fr;
        font-weight: normal;
        span {
            white-space: nowrap;
            margin-top: -1px;
        }

    }
    input {
        margin-top: 5px;
    }


    &.disabled {
        @extend %theme-disabled;
    }
}
