<div class="combo-box" [ngClass]="{ disabled: disabled}" (click)="stopEvent($event)">
   <label *ngIf="label">
      <span [innerHTML]="label"></span>
      <span *ngIf="traceReferences" class="trace-text">{{getReference()}}</span>
   </label>
   <div class="combo-container" [ngClass]="{'is-mobile': isMobileDevice(), 'is-open': isOpen(), 'compact': compact}">
     <div #textBox class="text-box">
       <text-input [readonly]="!smartFilter" [border]="false" [align]="aligncentre ? 'centre' : 'left'" [(ngModel)]="value" (ngModelChange)="onTextChange()"></text-input>
       <span class="fa fa-chevron-down down-icon" title="click to open" (click)="onDownIconClick()"></span>
     </div>
     <div *ngIf="isInError()" class="validation-text">
       <span class="text-error">{{vr.message}}</span>
     </div>
     <list *ngIf="showListView" [log]="log" [maxrows]="maxrows" [dropmode]="true" [items]="filteredItems" (selectedIndexChanged)="onListIndexChanged($event)"></list>
   </div>
</div>
