
$theme-colours: map-merge($default-colours, ( 'surface' : ( 'base': white, 'light': white, 'dark': #e9e9e9 ), 'background' : ( 'base': $mdc-grey-900, 'light': $mdc-grey-600, 'dark': black ), 'primary': ('base': $mdc-teal-700, 'light': $mdc-teal-600, 'dark': $mdc-teal-900), 'accent': ('base': $mdc-teal-A400, 'light': $mdc-teal-A100, 'dark': $mdc-teal-A700) ) );

$button-colours: map-merge($default-button-colours, ( 'primary' : ( 'foreground' : white, 'background': $mdc-teal-900, 'border': $mdc-teal-900, 'hover-foreground' : $mdc-teal-900, 'hover-background': white, 'hover-border': white), 'secondary': ( 'foreground' : white, 'background': $mdc-green-600, 'border': $mdc-green-900, 'hover-foreground' : $mdc-green-600, 'hover-background': white, 'hover-border': white), 'cancel': ('foreground' : $mdc-teal-900, 'background': white, 'border': $mdc-teal-900, 'hover-foreground': white, 'hover-background': $mdc-teal-900)) );

$dialog-colours: map-merge($default-dialog-colours, ( 'background': ( 'base' : black, 'light': $mdc-grey-900, 'dark': black) ));

$high-accent-colour: #f9ca06; // theme-colour('accent');
$high-accent-colour: #f9ca06; // theme-colour('accent');
